p {font-size: 20px;}

h1 {color: blue; font-size: 50px;}

h3 {color: blue; font-size: 25px; text-align: center;}

.thumbnail {text-align:center;}

.navbar-brand {background-color: rgb(5, 161, 252);
                font-size: 35px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

@media screen and (max-width: 600px) {
    .dropdown {
      display: none;
    }
    .navbar-default a.icon {
      float: right;
      display: block;
    }
    .navbar-default {background-color: rgb(5, 161, 252); }
  }